/* standard banner styles */
body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

* {
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
  overflow: hidden;
}

#main_container {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #000000;
  overflow: hidden;
}

#main_container {
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  width: 728px;
  height: 90px;
  top: -1px;
  left: -1px;
}

.retina {
  /*    for display on retina screens images created @2x actual dimensions then scaled back by 480%.
  images are scaled from top left, which effects css when wanting to use other alignment
  e.g. bottom:0; right:0; also requires transform-origin:bottom right;
  02/2016 webkit browsers:
  images including their containers must be block or inline-block.
  if css display:none or display:inline then transforms fail.
  */
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;

  /* image-rendering: auto; */
  /*image-rendering: crisp-edges;*/
}

.hidden {
  visibility: hidden;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styles */

@font-face {
  font-family: "Cupra_Book";
  src: url("./fonts/subset-Cupra-Book.woff");
}

@font-face {
  font-family: "Cupra_Regular";
  src: url("./fonts/subset-Cupra-Regular.woff");
}

/* Images Styles */

.canvasImage {
  width: 728px;
  height: 90px;
}

/* Text Styles */

#text1 {
  /* left: 20px;
  top: 32px; */
  font-family: "Cupra_Book";
  font-size: 19.6px;
  line-height: 22.1px;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  padding: 32px 0 0 20px;
}

#text2 {
  /* left: 20px;
  top: 32px; */
  font-family: "Cupra_Book";
  font-size: 21.2px;
  line-height: 22px;
  letter-spacing: -0.1px;
  width: 100%;
  height: 100%;
  padding: 32px 0 0 20px;
}

#logo{
  width: 61px;
  top: 10px;
  left: 648px;
}
#text_logo{
  top: 11px;
  width: 79px;
  left: 20px;
}

#cta {
    position: relative;
    width: 144px;
    height: 32px;
    left: 488px;
    top: 38px;
    font-family: "Cupra_Regular";
    font-size: 11.5px;
    /* line-height: 30px; */
    letter-spacing: 0.127em;
    color: #ffffff;
    text-align: center;
    border: #fff solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1.2px;
}
